@using System.Web.Mvc
@using System.Web.Mvc.Html
@functions{

private new static HtmlHelper<object> Html
    {
        get { return ((WebViewPage) WebPageContext.Current.Page).Html; }
    }

}

@helper Header(string title)
{
    <div>
        @MenuActionLink("Home", "Home")
    </div>
    <hr />
}

@helper Footer()
{
    <hr/>
    <div >
        @MenuLink("Loc", "http://localhost/layoutpage/")
        | @MenuLink("Web", "http://www.layoutpage.net")
        | @MenuLink("Azure", "https://manage.windowsazure.com/@romakoshgmail.onmicrosoft.com#Workspaces/WebsiteExtension/Website/layoutpage/dashboard")
        | @MenuLink("Jira", "https://rk-dev.atlassian.net/secure/RapidBoard.jspa?rapidView=2")
        | @MenuLink("Github", "https://github.com/RomanKoshelev/layoutpage")
    </div>
}

@helper MenuActionLink(string text, string controller, string action = "Index")
{
    @Html.ActionLink(
        text,
        action,
        controller,
        null,
        new {@class = ""})
}

@helper MenuLink(string text, string href)
{
    <a href="@href">@text</a>
}